on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      deployments: write
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup-java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
      - name: run maven command to build the app
        run: cd java-app; ./mvnw clean install
      - name: upload the artifact2
        run: cd java-app; ./mvnw deploy

