on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup-java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
      - name: run maven command to build the app
        run: java-app/mvnw clean install
      - name: upload the artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: java-app/target/demo-0.0.1-SNAPSHOT.jar
