on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      deployments: write
      packages: write
    steps:
      - name: do everything
        uses: ./.github/actions/code-quality-java
      - name: run maven command to build the app
        run: cd java-app; ./mvnw clean install
      - name: upload the artifact2
        run: cd java-app; ./mvnw deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

